html,
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Stalemate", cursive;
}
h1,
h2 {
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
h2 {
  font-weight: normal;
  padding-bottom: 10px;
}
h2,
h3 {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  position: relative;
  /* padding-top: 10%; */
  padding-top: 100px;
  background-color: #eaf6f6;
}
.middle-container {
  background-color: white;
  margin: 100px 0;
}
.bottom-cloud,
.top-cloud {
  position: absolute;
}
.top-cloud:nth-child(1) {
  right: 300px;
  top: 20px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}
.top-cloud:nth-child(2) {
  width: 250px;
  top: 40px;
  animation: wind 50s linear infinite reverse; /*you can put delay after duration (50s)*/
}
.bottom-cloud {
  left: 250px;
  opacity: 0.5;
  top: 30%;
  animation: wind 40s linear infinite forwards;
}

.amusement-img {
  width: 70%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro {
  width: 30%;
  margin: auto;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 2%;
}
.footer-link {
  color: #11999e;
  text-decoration: none;
  margin: 2%;
  font-family: "Amatic SC", cursive;
}
.footer-link:hover {
  color: #eaf6f6;
}

.contact-me-desc {
  margin-bottom: 5%;
  width: 40%;
  margin: 40px auto 60px;
}
.contact-btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Amatic SC", cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me {
  margin-bottom: 2%;
  padding: 4%;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
